/* type of font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* variables */
:root {
    /* colors */
    --bg-body: #e4f3fa;
    --bg-container: #845ec2;
    --color-add: #408da7;
    --color-confirm: #20b2aa;
    --color-delete: #e31746;
    --color-deleteConfirm: #c2002d;
    --color-title: #55dd3f;
    /* fonts */
    --typeLetter: 'poppins', sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--typeLetter);
    outline: none;
    list-style: none;
}

/* styles */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--bg-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 30px auto;
    width: 50%;
    background-color: var(--bg-container);
    padding: 100px;
    border-radius: 5px;
}

h1 {
    color: var(--color-title);
    font-size: 40px;
    text-align: center;
}

.search {
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.btnAdd {
    color: #fff;
    background-color: var(--color-add);
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 5px;
}

.btnAdd:hover {
    cursor: pointer;
    background-color: var(--color-confirm);
}

.btnDeleteAll {
    color: #fff;
    background-color: var(--color-add);
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 5px;
}

.btnDeleteAll:hover {
    cursor: pointer;
    background-color: var(--color-confirm);
}

input {
    padding: 15px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emptyTask {
    color: var(--color-title);
    text-align: center;
}

/* add dom */
.liContainer {
    background-color: var(--bg-body);
    width: 100%;
    color: var(--color-input);
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    background-color: var(--bg-body);
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

li p {
    width: 100%;
    margin-right: 250px;
    padding: 15px;
    display: flex;
    text-align: center;
    gap: 25px;
}

.btnDelete {
    background-color: var(--color-delete);
    color: var(--bg-body);
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    font-size: 1.2em;
}

.btnDelete:hover {
    cursor: pointer;
    background-color: var(--color-deleteConfirm);
}